---

- name: get latest release
  delegate_to: localhost
  become: false
  run_once: true
  when:
    - trivy_version == "latest"
  block:
    - name: get latest release
      delegate_to: localhost
      become: false
      run_once: true
      bodsch.scm.github_latest:
        project: aquasecurity
        repository: trivy
        user: "{{ lookup('env', 'GH_USER') | default(omit) }}"
        password: "{{ lookup('env', 'GH_TOKEN') | default(omit) }}"
      register: _latest_release

    - name: re-define trivy_version
      ansible.builtin.set_fact:
        trivy_version: "{{ _latest_release.latest_release }}"

- name: define download information
  ansible.builtin.set_fact:
    trivy_release: "{{ trivy_defaults_release | combine(trivy_release, recursive=True) }}"

- name: define delegate instance for download handling
  ansible.builtin.set_fact:
    trivy_delegate_to: "{{ ansible_facts.host }}"
    trivy_local_tmp_directory: "{{
        lookup('env', 'CUSTOM_LOCAL_TMP_DIRECTORY') |
        default('/var/cache/ansible/trivy', true) }}/{{ trivy_version }}"
  when:
    - trivy_direct_download

- name: create download directory
  become: false
  delegate_to: "{{ trivy_delegate_to }}"
  run_once: "{{ 'false' if trivy_direct_download else 'true' }}"
  ansible.builtin.file:
    path: "{{ trivy_local_tmp_directory }}"
    state: directory
    mode: "0750"

- name: detect the downloaded trivy archive
  become: false
  delegate_to: "{{ trivy_delegate_to }}"
  run_once: "{{ 'false' if trivy_direct_download else 'true' }}"
  ansible.builtin.stat:
    path: "{{ trivy_local_tmp_directory }}/{{ trivy_release.file }}"
  register: stat_trivy_archive

- name: download
  when:
    - stat_trivy_archive.stat is defined
    - not stat_trivy_archive.stat.exists | default('false')
  block:
    - name: checksum
      become: false
      delegate_to: localhost
      run_once: true
      block:
        - name: get checksum list
          bodsch.scm.github_checksum:
            project: aquasecurity
            repository: trivy
            checksum_file: "{{ trivy_release.checksum }}"
            user: "{{ lookup('env', 'GH_USER') | default(omit) }}"
            password: "{{ lookup('env', 'GH_TOKEN') | default(omit) }}"
            architecture: "{{ ansible_facts.architecture }}"
            system: "{{ ansible_facts.system }}"
            version: "v{{ trivy_version }}"
          register: _latest_checksum

        - name: define checksum for {{ system_architecture }} architecture
          ansible.builtin.set_fact:
            __trivy_checksum: "sha256:{{ _latest_checksum.checksum }}"
          when:
            - _latest_checksum.rc == 0
            - _latest_checksum.checksum is defined
            - _latest_checksum.checksum | string | length > 0

    - name: download trivy binary archive
      become: false
      delegate_to: "{{ trivy_delegate_to }}"
      run_once: "{{ 'false' if trivy_direct_download else 'true' }}"
      ansible.builtin.get_url:
        url: "{{ trivy_release.download_url }}/download/v{{ trivy_version }}/{{ trivy_release.file }}"
        dest: "{{ trivy_local_tmp_directory }}/{{ trivy_release.file }}"
        checksum: "{{ __trivy_checksum | default(omit) }}"
        mode: "0640"
      register: _download_archive
      until: _download_archive is succeeded
      retries: 5
      delay: 2
      check_mode: false

  rescue:
    - name: delete download directory
      become: false
      delegate_to: "{{ trivy_delegate_to }}"
      run_once: "{{ 'false' if trivy_direct_download else 'true' }}"
      ansible.builtin.file:
        path: "{{ trivy_local_tmp_directory }}"
        state: absent

    - name: exit with fail
      ansible.builtin.fail:
        msg: A serious error occurred when downloading the archive.

- name: detect extracted binary
  become: false
  delegate_to: "{{ trivy_delegate_to }}"
  run_once: "{{ 'false' if trivy_direct_download else 'true' }}"
  ansible.builtin.stat:
    path: "{{ trivy_local_tmp_directory }}/{{ trivy_release.binary }}"
  register: stat_trivy_binary

- name: extract trivy archive
  become: false
  delegate_to: "{{ trivy_delegate_to }}"
  run_once: "{{ 'false' if trivy_direct_download else 'true' }}"
  ansible.builtin.unarchive:
    src: "{{ trivy_local_tmp_directory }}/{{ trivy_release.file }}"
    dest: "{{ trivy_local_tmp_directory }}/"
    copy: false
  when:
    - stat_trivy_binary.stat is defined
    - not stat_trivy_binary.stat.exists | default('false')

...
